@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
:root {
    --color-blue: #224A98;
    --color-bg: #FFFFFF;
    --gradient-bg: linear-gradient(to right, var(--color-blue), #7f7fd5, #86a8e7, #FFFFFF);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

p {
    text-align: justify;
}

.intro-title, .news-title, .contact-title, .resources-title, .project-info-title {
    margin: 4rem 0;
    text-align: center;
}

.intro-title * {
    font-weight: 200;
    font-size: 2.5rem;
}



h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h2, h3 {
    font-weight: 300;
}

header {
    height: 300px;
    transform: skewY(-2deg);
    display: flex;
    align-items: center;
    background: var(--gradient-bg);
}

.header-content {
    transform: skewY(2deg);
    margin-left: 40px;
    position: absolute;
    background: transparent;
    color: white;
    font-weight: 500;
    width: 70%;
}

.header-bg {
    transform: skewY(2deg);
    top: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background: var(--gradient-bg);
}

main {
}

main > section {
    padding: 0 3rem;
    margin: 10rem 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
}

.intro-content {
    display: flex;
    justify-content: space-between;
}

.intro-image-container {
    width: calc(50% - 1.5rem);
    height: 40rem;
    background: var(--color-blue);
}

.intro-text-container {
    width: calc(50% - 1.5rem);
    padding: 5px 0;
    font-size: 1rem;
}

.navigation-section > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navigation-section > ul > li {
    border: 2px solid var(--color-blue);
    width: calc(90% / 4);
}

.news-section {
    display: flex;
    flex-direction: column;
}

.news-content {
    display: flex;
    justify-content: space-between;
}

.news-section hr {
    border: 2px solid var(--color-blue);
}

.news-content > div {
    display: flex;
    flex-direction: column;
}

.news-content h3 {
    font-size: 2rem;
    font-weight: 200;
}

.news-current-phase {
    width: calc(40% - 2.5rem);
}

.news-current-phase p {
    font-size: 1.1rem;
}

.news-latest {
    width: calc(60% - 2.5rem);
}

.news-current-phase > div,
.news-latest > div {
    position: relative;
    margin: .7rem 0;
}

.news-latest h4 {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .5rem 0 .5rem 0;
}

.news-latest .resources-button {
    margin-top: 1.5rem;
    box-shadow: 0 10px 10px rgba(34, 74, 152, 0.3), 0 1px 2px rgba(36, 125, 219, 0.3);
}

.news-image-container {
    height: 500px;
    background: var(--color-blue);
}

.contact-section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resources-section {
    padding: 0;
}

.resources-content {
    display: flex;
    align-items: center;
    transform: skewY(-2deg);
    background: var(--gradient-bg);
}

.resources-inner {
    padding: 5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    transform: skewY(2deg);
    height: 80%;
    flex-wrap: wrap;
}

.resources-card {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    background: #FFFFFF;
    width: calc(50% - (1.5rem * 2));
    height: 280px;
}

.resources-card:hover {
    scale: 1.05;
    transition: all .5s ease;
}

.resources-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(220, 220, 220, 0.36);
}

.resources-text-container {
    width: 60%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resources-text-container h4 {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.resources-text-container a {
    text-align: center;
}

.project-info-section article {
    width: 70%;
    border-bottom: 2px solid var(--color-blue);
    margin: 3rem 0;
}

.project-info-section article p {
    padding: 1rem 0 .7rem 0;
}

.project-info-section article > div {
    display: flex;
    justify-content: space-between;
}

.project-info-section article > div h3 {
    width: 90%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.project-info-expand-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: url("images/arrow_blue.png") center;
    background-size: contain;
    width: 36px;
    height: 36px;
    border: 2px solid var(--color-blue);
    transition: all .7s ease;
}

.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.expanded {
    max-height: 500px;
    opacity: 1;
    padding: 20px;
    overflow: hidden;
    transition: max-height 1.25s ease, opacity 1.25s ease, padding 1.25s ease;
}

.rotated {
    transform: rotate(-180deg);
}

/*--------------------------*/
/* anchor buttons animation */
/*--------------------------*/

a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.anchor-link {
    width: 101%;
    height: auto;
}

.anchor-circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--color-blue);
}

.anchor-icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.anchor-icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.anchor-icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.anchor-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--color-blue);
    font-weight: 700;
    line-height: 1.6;
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
}

a:hover .anchor-circle {
    width: 100%;
}

a:hover .anchor-icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

a:hover .anchor-text {
    color: #fff;
}

/*--------------------------*/
/* contact card animation */
/*--------------------------*/

.contact-info-card {
    position: relative;
    padding: 25px;
    display: flex;
    width: calc(50% - .5rem);
    max-width: 650px;
    height: 300px;
    margin: 3rem 0 0 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 27px 71px rgba(34, 74, 152, 0.3), 0 1px 2px rgba(36, 125, 219, 0.3);
}

.contact-icon {
    width: 48px;
    height: 48px;
    background: url("images/employee_icon.png") center;
    background-size: contain;
    position: absolute;
    left: 80%;
    top: -7%;
}

.contact-image-container {
    width: calc(40% - 15px);
    height: 90%;
    border: 2px solid #4E6EAD;
    background: url("images/contact_card_image.png") bottom;
    background-size: 110%;
    background-position-y: 0;
}

.contact-info-container {
    width: calc(60% - 15px);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info-container span {
    font-size: 15px;
    text-align: justify;
}

.contact-rank {
    font-size: 13px;
    font-style: italic;
    text-align: justify;
}

.contact-info-container .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info-container a {
    color: black;
    font-size: 14px;
    text-align: justify;
    font-weight: bold;
}

/*--------------------------*/
/* document card button animation */
/*--------------------------*/

.resources-button {
    display: inline-block;
    margin: 0 auto .5rem auto;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 1.1rem;
    border: 1px solid #e8e8e8;
    box-shadow: 0 27px 71px rgba(34, 74, 152, 0.3), 0 1px 2px rgba(36, 125, 219, 0.3);
}

.resources-button:active {
    color: #666;
    box-shadow: 0 27px 71px rgba(34, 74, 152, 0.3), 0 1px 2px rgba(36, 125, 219, 0.3);
}

.resources-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.resources-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.resources-button:hover {
    color: #ffffff;
    border: 1px solid var(--color-blue);
}

.resources-button:hover:before {
    top: -35%;
    background-color: var(--color-blue);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.resources-button:hover:after {
    top: -45%;
    background-color: var(--color-blue);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*--------------------------*/
/* project info expand button animation */
/*--------------------------*/

.icon-menu {
    --gap: 5px;
    --height-bar: 2px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
}

.bar {
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: #9941fc;
}

.bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
}

.bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:active + .icon-menu > .bar--1 {
    transition: top 200ms, transform 200ms 100ms;
}

.check-icon:active + .icon-menu > .bar--3 {
    transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:active + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
}

.intro-text-separator {
    border: none;
    background-color: rgba(153, 65, 252, .7);
    height: 1px;
    margin: 1.2rem auto;
    overflow: hidden;
    width: 80%;
}

/*--------------------------*/
/* contact card socials buttons animation */
/*--------------------------*/

.contact-card-socials {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 5px;
    gap: 20px;
}

.contact-social-link {
    width: 38px;
    height: 38px;
    background-color: rgba(153, 65, 252, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.contact-mail:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

.contact-linkedin:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.contact-phone:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.contact-ztu:hover {
    background-color: #ee781c;
    transition-duration: .3s;
}

.contact-social-link:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.social-icon path {
    fill: rgb(255, 255, 255);
}

.contact-social-link:hover .social-icon {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.language-toggle-wrapper {
    position: fixed;
    top: 90%;
    width: 98%;
    display: flex;
    justify-content: end;
    z-index: 1000;
}

.language-toggle-wrapper button {
    padding: 10px 5px;
    margin: 5px;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #9941fc;
    cursor: pointer;
}

.language-toggle-wrapper button:hover {
    transform: scale(1.1);
    transition-duration: .3s;
}

@media (max-width: 1200px) {
    * {
        font-size: 14px;
    }

    .intro-image-container,
    .intro-text-container {
        width: calc(50%);
    }

    .news-latest,
    .news-current-phase {
        width: calc(50% - 2rem);
    }

    .news-section hr {
        border-width: 1px;
    }

    main > section {
        padding: 0 1.5rem;
        margin: 5rem 0;
    }

    .news-current-phase {
        width: calc(50%);
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info-card {
        width: 60%;
        max-width: 650px;
        margin: 3rem 0;
    }

    .contact-info-container,
    .contact-image-container {
        height: 95%;
    }

    .contact-card-socials {
        padding: 0;
    }

    .resources-inner {
        padding: 4rem 2rem;
    }

    .project-info-section article {
        width: 100%;
    }
}

@media (max-width: 992px) {
    * {
        font-size: 14px;
    }

    .intro-content {
        flex-direction: column;
        align-items: center;
    }

    .intro-image-container,
    .intro-text-container {
        width: calc(95%);
    }

    .navigation-section > ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .navigation-section > ul li {
        width: 40%;
        margin-top: 1rem;
    }

    .news-content {
        flex-direction: column;
        align-items: center;
    }

    .news-latest,
    .news-current-phase {
        width: 95%;
    }

    .news-section hr {
        border-width: 1px;
        width: 95%;
        margin: 2rem 0;
    }

    .news-content h3 {
        text-align: center;
    }

    main > section {
        padding: 0 1.5rem;
        margin: 5rem 0;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info-card {
        width: 80%;
        max-width: 720px;
    }

    .contact-info-container,
    .contact-image-container {
        height: 95%;
    }

    .contact-card-socials {
        padding: 0;
    }

    .resources-inner {
        padding: 4rem 2rem;
    }

    .resources-card {
        width: 90%;
        height: 240px;
    }
}

@media (max-width: 768px) {

    * {
        font-size: 13px;
    }

    .contact-info-card {
        width: 85%;
        max-width: 720px;
    }

    .news-latest .resources-button {
        display: flex;
        width: 40%;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    * {
        font-size: 13px;
    }

    .contact-info-card {
        width: 90%;
        flex-direction: column;
        min-height: 600px;
        padding: 1.25rem;
    }

    .contact-card-socials {
        width: 100%;
    }

    .resources-inner {
        padding: 4rem 1rem;
    }

    .contact-image-container,
    .contact-info-container {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .navigation-section > ul li {
        justify-content: left;
        width: 80%;
        margin-top: 1rem;
    }

    .intro-image-container {
        height: 25rem;
    }

    .news-image-container {
        height: 25rem;
    }

    .news-latest .resources-button {
        display: flex;
        width: 60%;
    }

    .resources-card {
        flex-direction: column;
        height: 450px !important;
        width: 100%;
        overflow: scroll;
    }

    .resources-button {
        width: 100%;
    }

    .resources-text-container h4 {
        font-size: 1.05rem;
    }

    .resources-text-container,
    .resources-image-container {
        width: 100%;
        height: 50%;
    }

    h1 {
        font-size: 1.7rem;
    }
}


